#container {
    min-height: 85vh;
    background-image: url("/Assets/img/amazon-papegoeje.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    position: relative;
    color: #fff;

    div {
        background-image: linear-gradient(0deg, rgba(73,116,69,1) 50%, rgba(255,0,0,0) 100%);
        position: absolute;
        bottom: 0;
        padding: 7rem 0 2rem 0;

        img {
            max-width: 90%;
        }
    }
}